body::before {
  background-size: cover;
  background-image: url('https://storage.googleapis.com/cosmos-369.appspot.com/wedday/static/bg.cp.jpg');
  background-attachment: fixed;
  opacity:0.7;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

body .wedday {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.wedday .w-main__posts {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.wedday .w-loading {
  margin: 20px;
  text-align: center;
}

.w-headline {
  background-image: url('../assets/headline.jpg') !important;
  background-size: cover !important;
}

.w-card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 284px;
  max-height: 450px;
}

.w-input-image.no-image.is-invalid {
  color: red;
  border-color: red !important;
}

.w-card-msg {
  font-size: 1.2em;
  word-break: break-word;
  margin-bottom: 5px;
}

.w-card-meta {
  font-size: 0.9em;
}

h3.w-card-msg__quote {
  background-color: #263238;
  margin: 0;
  padding: 20px;
}

h3.w-card-msg__quote:before, h3.w-card-msg__quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}

h3.w-card-msg__quote:before {
  content: '“';
}

h3.w-card-msg__quote:after {
  content: '”';
}

@media only screen and (max-width: 375px) {
  .w-input-image > img {
    max-height: 45vh;
  }
}

@media only screen and (max-width: 320px) {
  .w-input-image > img {
    max-height: 35vh;
    width: 50%;
  }
}

@media only screen and (min-width: 986px) {
  .w-new > div {
    max-width: 60%;
  }
}

.w-new {
  margin: 10px 0;
  padding: 0px !important;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.w-new > div {
  margin: 0;
  padding: 20px;
  max-height: 100%;
  overflow-y: auto;
}

.w-input-image {
  text-align: center;
  border-radius: 15px;
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.w-input-image.no-image{
  border: 2px dashed #ddd;
  line-height: 200px;
}

.w-input-image > img {
  object-fit: cover;
  max-height: 50vh;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.mdl-textfield {
  display: block;
  width: 100%;
}

.w-new button {
  margin: 0 5px 20px;
  float: right;
}

.w-buttom-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-buttom-submit .mdl-spinner {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

button.w-open-button {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.wedday.mdl-layout .mdl-layout__content {
  padding-top: 230px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.wedday .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 360px;
}

.wedday .mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}

.wedday .mdl-card__media {
  background-repeat: no-repeat;
  background-size: 150px;
  background-image: url(https://storage.googleapis.com/cosmos-369.appspot.com/wedday/static/loading.gif);
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}

.wedday .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.wedday .mdl-card__supporting-text .w-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  min-width: 48px;
  width: 48px;
  background-color: #263238;
  border-color: #263238;
  border-radius: 50%;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
}

.wedday .mdl-card__supporting-text .w-avatar span {
  color: white;
}

.wedday .mdl-card__supporting-text strong {
  font-weight: 400;
}

.wedday .mdl-card__media ~ .mdl-card__supporting-text {
  padding: 10px;
  min-height: 64px;
}

.wedday .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}

.wedday:not(.wedday--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.wedday .mdl-card__actions:first-child {
  margin-left: 0;
}

.wedday .meta {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

.wedday .meta > .meta__favorites{
  flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}

.wedday .meta > .meta__favorites .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}

.wedday .mdl-card .meta.meta--fill {
  justify-content: space-between;
}

.wedday .meta > *:first-child {
  margin-right: 16px;
}

.wedday .meta > * {
  display: flex;
  flex-direction: column;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: flex !important;
}

.swiper-container {
  width: 100wh;
  height: 100vh;
  background-color: black;
}

.swiper-slide {
  display: flex;
}

.swiper-slide .swiper-img {
  height: auto;
  width: 70%;
  object-fit: contain;
}

.swiper-slide .swiper-message {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 30%;
  margin: 50px;
  word-break: break-all;
  text-shadow: #263238 0.1em 0.1em 0.2em;
  color: white;
}

.swiper-slide .swiper-message h4 {
  text-align: right;
}
